.menu li{
    display: inline-block;
    
    position: relative;
}

.menu li::after{
    width: 0;
    height: 2px;
    background-color: black ;
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 1s;

}


.menu li:hover::after{

width: 100%;
}

.navbar-nav li {
  position: relative;
}

.navbar-nav li::before,
.navbar-nav li::after {
  content: '';
  position: absolute;
  bottom: 0;          /* vị trí ngay dưới chữ */
  width: 0;
  height: 2px;
  background: black;  /* màu gạch */
  transition: width 0.4s ease;
}

.navbar-nav li::before {
  left: 0;            /* chạy từ trái */
}

.navbar-nav li::after {
  right: 0;           /* chạy từ phải */
}

.navbar-nav li:hover::before,
.navbar-nav li:hover::after {
  width: 50%;         /* mỗi bên chiếm nửa */
}
